.MuiBox-root-82 {
    padding: 24px;
    width: 1000px!important;
}

.MuiBox-root-17 {
    padding: 24px;
    width: 1000px!important;
}

#vertical-tabpanel-0{
    width: 1000px!important;   
}

.MuiSwitch-thumb {
    margin-top: 8px!important;
    margin-left: 11px!important;
}